body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.container {
  background-color: #1f2937;
}
.mt {
  list-style-type: none;
  display: flex;
  background-color: #1f2937;
}
.main-landing {
  background-color: #1f2937;
  float: left;
}
.item {
  display: inline;
  margin-top: 35px;
  margin-left: 190px;
  font-size: 18px;
  color: #e5e7eb;
}
.header-logo {
  margin-left: 150px;
  margin-top: 50px;
  font-size: 24px;
  color: #f9faf8;
}
a:link {
  text-decoration: none;
}
.main-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-left: 140px;
  margin-top: 100px;
}
.second-title {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 150px;
}
.btn-blue {
  background-color: #3882f6;
  color: white;
  margin-left: 150px;
  border: 2px solid lightblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 120px;
  font-size: 18px;
}

.btn-blue:hover {
  background-color: white;
  color: #3882f6;
}
.cont {
  align-items: center;
  justify-content: center;
}
img {
  float: left;
  padding-left: 30px;
  margin-top: 70px;
}

.h1-white {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

div.gallery {
  margin: 5px;
  border: 1px solid #3882f6;
  float: left;
  width: 180px;
  margin-left: 120px;
}

div.gallery:hover {
  border: 1px solid #3882f6;
}

div.gallery img {
  width: 180px;
  height: auto;
  align-items: center;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.group-item {
  margin: 50px 80px;
  background-color: #3882f6;
  color: white;
  padding: 10px 10px;
  border: 2px solid white;
  border-style: inherit;
  display: flex;
}
.para,
.inside-text {
  font-size: 18px;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 30px;
  flex: 1;
}
.btn-sin {
  background-color: white;
  color: #3882f6;
  border: 1px solid lightblue;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 0px;
  flex: 1;
}
.btn-sin:hover {
  background-color: #3882f6;
  color: white;
}

.main-quote {
  background-color: #e5e7eb;
  padding: 80px 80px;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin-left: 200px;
}
.name {
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin-left: 950px;
}

.end {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
